.AboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.AboutSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.MyStory {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  /* margin-top: 2rem; */
  margin-bottom: 0.2rem;
  line-height: 1.6;
  padding: 0rem;
  color: #333333;
}

.AboutSection h2 {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.AboutTitle {
  display: flex;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  padding: 3rem;
  margin-top: 2rem;
}

.AboutSection-Left {
  flex: 1;
  max-width: 60rem;
  margin-right: 2rem;
}

.AboutSection-Right {
  flex: 1;
  max-width: 60rem;
  margin-left: 2rem;
}

.AboutSection-Right-Top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  text-align: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #333333;
}

.ContactButton {
  background-color: #00ffff;
  margin-top: 4rem;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 4rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  color: #333333;
  transition: transform 0.2s ease-in-out;
}

.ContactButton:hover {
  cursor: pointer;
  transform: translateY(-0.5rem);
}

.SkillItem {
  background-color: #ebebeb;
  padding: 2rem 4rem;
  border-radius: 5px;
  margin: 0rem;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color: #333333;
}

.SkillItem:hover {
  background-color: #00ffff;
}

/* Media Query for Mobile Devices */
@media (max-width: 420px) {
  .AboutSection {
    flex-direction: column;
    align-items: center;
  }

  .AboutSection-Left,
  .AboutSection-Right {
    display: none;
  }

  .AboutSection-Right-Top {
    display: none;
  }
}
