.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  padding: 1.5rem;
  gap: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin-left: 1rem;
}

.container img {
  width: 3rem;
}

.container img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
